.containerForm{
    position:absolute;
}
.contactForm{
    width:900px;
    position:relative;
    z-index: 1000;
    top:-30px;
    left:350px; 
}
form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    font-size: 30px;
}
    input {
      width: 100%;
      height: 55px;
      padding: 7px;
      outline: none;
      border-radius: 5px;
      border: 1px solid rgb(220, 220, 220);
      
    }

    
      
      form>input:focus {
        border: 2px solid rgba(0, 206, 158, 1);}
    textarea {
      max-width: 100%;
      min-width: 100%;
      width: 100%;
      max-height: 200px;
      min-height: 200px;
      padding: 7px;
      outline: none;
      border-radius: 5px;
      border: 1px solid rgb(220, 220, 220);
     
    }
    textarea:focus {
        border: 2px solid rgba(0, 206, 158, 1);
      }
    label {
      margin-top: 1rem;
    }
    input[type="submit"] {
      margin-top: 2rem;
      cursor: pointer;
      background: var(--pink);
      color:var(--lightGray);
      border: none;
      font-size: 20px;
      letter-spacing: 2px;
    }
    .contact_container{
        width:100%;
        height:700px;
    }

    @media (max-width:952px){

        .contactForm{
            width:250px;
            left:50px;
        }

    }